
body {
    background: url(https://img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?size=626&ext=jpg); 
}

ul {
    background: gray;
    padding: 20px;
    opacity: 0.5;
}

ul li {
    display: inline;
    margin: 20px;
}