body {
    background: #dfdfdf; 
}

p {
    color: rgb(34,34,34);
}

.foto-principal {
    width: 150px;
    border: 2px double #FFFFFF; /*propriedade shorthand*/
    border-radius: 50%; /*ou border-radius: 50% 50% 50% 50%;*/

    /*border-width: 5px;
    border-style: double;
    border-color: #FFFFFF;
    */
}
