
.conteudo {
    position: relative;
    height: 500px;
    border: 1px solid black;
    padding: 20px;
}

.quadrado {
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: black;
    color: white;
    text-align: center;
}